<li id="feedList">

  {{#link-to 'feed' feed.id}}{{feed.title}}{{/link-to}}



  <h2><b>{{feed.title}}</b></h2>
  <iframe width="660" height="400" src="{{feed.url}}" frameborder="0" allowfullscreen></iframe>
  <!-- <p><img src="{{feed.imageUrl}}" alt="Tech Talk Logo"></p>
  <p><b>Posted Media: </b><a href={{feed.url}}>Click to view video or media</a></p> -->
  <!-- <p><b>Original content author:</b> {{feed.author}}</p> -->
  <p><b>Posted by:</b> {{feed.poster}}</p>
  <!-- <p><b>Comments:</b> {{feed.content}}</p>
  <p><b>Subject:</b> {{feed.subject}}</p>
  {{update-feed feed=feed update="update"}}
  <br> -->
  <!-- <button{{action 'delete' feed}}>Delete Talk</button> -->
  <hr>


  <!-- <iframe width="660" height="400" src="{{feed.url}}" frameborder="0" allowfullscreen></iframe> -->




</li>
