<li>
  <p>{{feed.title}}</p><br>
  <p>{{feed.url}}</p><br>
  <p>Original content author: {{feed.author}}</p><br>
  <p>Posted by: {{feed.poster}}</p><br>
  <p>Comments: {{feed.content}}</p><br>
  <p>Subject: {{feed.subject}}</p>
</li>
