{{#if addNewFeed}}
<h1>New Feed</h1>
<div>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title"}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="subject">Subject</label>
      {{input value=subject id="subject"}}
    </div>
    <div class="form-group">
      <label for="url">Talk Media URL</label>
      {{input value=url id="url"}}
    </div>
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      {{input value=imageUrl id="imageUrl"}}
    </div>
    <div class="form-group">
      <label for="poster">Your Name</label>
      {{input value=poster id="poster"}}
    </div>
    <div class="form-group">
      <label for="content">Text</label>
      {{input value=content id="content"}}
    </div>
    <button {{action 'saveFeed'}}>Save Talk</button>
  </form>
</div>
{{else}}
  <button {{action 'feedFormShow'}}>New Talk</button>
{{/if}}
