{{#if updateFeedForm}}
  <h1>Edit This Talk: {{feed.title}}</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Talk Title</label><br>
        {{input value=title id="title" placeholder=feed.title}}
      </div>
      <div class="form-group">
        <label for="author">Talk Author</label><br>
        {{input value=author id="author" placeholder=feed.author}}
      </div>
      <div class="form-group">
        <label for="subject">Subject</label><br>
        {{input value=subject id="subject" placeholder=feed.subject}}
      </div>
      <div class="form-group">
        <label for="url">Embedded Media URL<br>
        Example: https://www.youtube.com/embed/a1zDuOPkMSw</label><br>
        {{input value=url id="url" placeholder=feed.url}}
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL: Optional<br>
        If no URL supplied type in "NONE"</label><br>
        {{input value=imageUrl id="imageUrl" placeholder=feed.imageUrl}}
      </div>
      <div class="form-group">
        <label for="poster">Your Name</label><br>
        {{input value=poster id="poster" placeholder=feed.poster}}
      </div>
      <div class="form-group">
        <label for="content">Talk Description</label><br>
        {{input value=content id="content" placeholder=feed.content}}
      </div>
      <button {{action 'update' feed}}>Save Talk</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateFeedForm'}}>Edit Talk</button>
{{/if}}
